server:
  port: 8080
spring:
  jpa:
    hibernate:
      ddl-auto: none


      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: lhs0324*
    url: jdbc:mysql://localhost:3306/newschema
jwt:
  secret-key: secret-key
  access-exp: 900000         # 15분 (밀리초 기준)
  refresh-exp: 604800000     # 7일 (밀리초 기준)