<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>사용자 정보 수정</title>
</head>
<body>
<div class="container">
  <h2>사용자 정보 수정</h2>
  <form action="/users/update" method="post" th:object="${userForm}">
    <input type="hidden" th:field="*{id}" />
    <label>이름:</label>
    <input type="text" th:field="*{name}" />
    <label>나이:</label>
    <input type="number" th:field="*{age}" />
    <button type="submit">수정 완료</button>
  </form>
</div>

</body>
</html>
