<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>김경민 센빠이 과제(CRUD)</title>
</head>
<body>
<div class="container">
  <div>
    <h1>김경민 센빠이 과제(CRUD)</h1>
    <p>회원 기능</p>
    <p style="display: flex; flex-direction: column; gap: 10px;">
      <a href="/users/new">회원 가입</a>
      <a href="/users/list">회원 목록</a>

      <a href="/users/delete">회원 삭제</a>
    </p>
    <p>코멘트 기능</p>
    <p style="display: flex; flex-direction: column; gap: 10px;">
      <a href="/comments/new">코멘트 작성</a>
      <a href="/comments/list">코멘트 목록</a>

      <a href="/comments/delete">코멘트 삭제</a>
    </p>
  </div>
</div>
</body>
</html>
