<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>댓글 목록</title></head>
<body>
<h2>댓글 목록</h2>
<table>
    <thead>
    <tr><th>ID</th><th>내용</th><th>작성자</th></tr>
    </thead>
    <tbody>
    <tr th:each="comment : ${comments}">
        <td th:text="${comment.id}"></td>
        <td th:text="${comment.comment}"></td>
        <td th:text="${comment.user.id}"></td>
        <td><a th:href="@{/comments/update/{id}(id=${comment.id})}">수정</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
