<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>댓글 수정</title>
</head>
<body>
<div class="container">
  <h2>댓글 수정</h2>
  <form action="/comments/update" method="post" th:object="${commentForm}">
    <input type="hidden" th:field="*{id}" />
    <label>내용:</label>
    <input type="text" th:field="*{comment}" />

    <label>작성자 ID:</label>
    <input type="text" th:value="${userId}" readonly />
    <label>작성자 이름:</label>
    <input type="text" th:value="${userName}" readonly />


    <button type="submit">수정 완료</button>
  </form>
</div>
</body>
</html>
